## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df = application_df.drop(columns=['EIN', 'NAME'])

# Display the first few rows of the dataframe to confirm the changes
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column
unique_counts = application_df.nunique()

# Display the unique counts for each column
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Display the value counts for APPLICATION_TYPE
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 276
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the value counts for CLASSIFICATION
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts greater than 1
classification_counts_gt1 = classification_counts[classification_counts > 1]

# Display the value counts for CLASSIFICATION greater than 1
classification_counts_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 1883
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with pd.get_dummies
application_df = pd.get_dummies(application_df)

# Display the first few rows of the dataframe to confirm the changes
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns='IS_SUCCESSFUL')
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets to confirm the split
print(f"Training feature set shape: {X_train.shape}")
print(f"Testing feature set shape: {X_test.shape}")
print(f"Training target set shape: {y_train.shape}")
print(f"Testing target set shape: {y_test.shape}")

Training feature set shape: (27439, 43)
Testing feature set shape: (6860, 43)
Training target set shape: (27439,)
Testing target set shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy',
           optimizer='adam',
           metrics=['accuracy'])

In [14]:
# Train the model
history = nn.fit(X_train_scaled, y_train,
                 epochs=20,
                 batch_size=32,
                 validation_split=0.2,
                 verbose=1)

Epoch 1/20
686/686 [==============================] - 4s 4ms/step - loss: 0.5727 - accuracy: 0.7171 - val_loss: 0.5525 - val_accuracy: 0.7341
Epoch 2/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7257 - val_loss: 0.5456 - val_accuracy: 0.7356
Epoch 3/20
686/686 [==============================] - 3s 4ms/step - loss: 0.5528 - accuracy: 0.7285 - val_loss: 0.5446 - val_accuracy: 0.7369
Epoch 4/20
686/686 [==============================] - 3s 5ms/step - loss: 0.5503 - accuracy: 0.7302 - val_loss: 0.5485 - val_accuracy: 0.7382
Epoch 5/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7319 - val_loss: 0.5488 - val_accuracy: 0.7383
Epoch 6/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7309 - val_loss: 0.5449 - val_accuracy: 0.7389
Epoch 7/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7307 - val_loss: 0.5468 - val_accuracy: 0.7407
Epoch 8/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7309 - val_loss: 0.5441 - val_accuracy: 0.7396
Epoch 9/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7321 - val_loss: 0.5440 - val_accuracy: 0.7362
Epoch 10/20
686/686 [==============================] - 3s 5ms/step - loss: 0.5465 - accuracy: 0.7325 - val_loss: 0.5455 - val_accuracy: 0.7367
Epoch 11/20
686/686 [==============================] - 3s 4ms/step - loss: 0.5463 - accuracy: 0.7327 - val_loss: 0.5447 - val_accuracy: 0.7400
Epoch 12/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7337 - val_loss: 0.5454 - val_accuracy: 0.7363
Epoch 13/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7348 - val_loss: 0.5440 - val_accuracy: 0.7405
Epoch 14/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7320 - val_loss: 0.5427 - val_accuracy: 0.7374
Epoch 15/20
686/686 [==============================] - 3s 4ms/step - loss: 0.5444 - accuracy: 0.7340 - val_loss: 0.5427 - val_accuracy: 0.7407
Epoch 16/20
686/686 [==============================] - 3s 5ms/step - loss: 0.5440 - accuracy: 0.7335 - val_loss: 0.5420 - val_accuracy: 0.7391
Epoch 17/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7343 - val_loss: 0.5450 - val_accuracy: 0.7391
Epoch 18/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7339 - val_loss: 0.5461 - val_accuracy: 0.7394
Epoch 19/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7352 - val_loss: 0.5449 - val_accuracy: 0.7380
Epoch 20/20
686/686 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7346 - val_loss: 0.5416 - val_accuracy: 0.7387

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')